.img{
    height: 100%;
    width: 100%;
    /* position: relative; */

}

.img:hover + .img-text{
    display: block;
}

.project-img{
    align-items: center;
    position: relative;
}

.img-text{
    width: 100%;
    padding: 0px 0px;
    display: none;
    position: absolute;
    top: 75%;
    background-color:rgba(255, 255, 255, 0.75);
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 85%;
    margin: 0 auto;
}