.option1{
    background: green;
    position:absolute;
    height:100vh;
    width: 100vw;
}

.home{
    background:yellow;
    position: absolute;
}

.move-picture{
  position: relative;
  width: 20%;
  top:50vh;
  left: 50vw;
}

.animate{
  animation: move 1s infinite;
}

@keyframes move{
  0% {top: 50%;}
  100% {top:0%;}
}

.fade-enter {
    opacity: 0.01;
    
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: all 1500ms ease;
    transition-delay: 1000ms;
  }
  
  .fade-leave {
    opacity: 1;
    
  }
  
  .fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: all 1000ms ease;
    transition-delay: 500ms;
    
  }


/* keyframes to animate pictures */