#one{
  height: 50px;
  width: 50px;
  background:white;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0;
  justify-content: center;
}

.option1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: green;
  position:absolute;
  height:100vh;
  width: 100vw;
}

.box1, .box3{
  background-color: pink;
}

.box1, .box2, .box3{
  display: flex;
 flex: 1 1 300px;
 margin: 5px;
 justify-content: center;
}

.home{
    background:yellow;
    position: absolute;
}

.move-picture{
  position: relative;
  width: 20%;
  top:45%;
  left: 15%;
  margin: 0;
}

#next-page:hover + #one{
  animation: move 1s infinite;
  animation-timing-function: linear;
}

.motion{
  animation: bounce 2s infinite;
  animation-timing-function: linear;
}

.animate{
  animation: move 0.3s infinite;
  animation-timing-function: linear;
}

@keyframes move{
  0% {top: 45%; transform: scale(1, 1);}
  50% {transform: scale(1.6, 1.6);}
  100% {top: 100%; transform: scale(1, 1);}
}

@keyframes bounce{
  0% {transform: scale(1, 1);}
  50% {transform: scale(1.6, 1.6);}
  100% {transform: scale(1, 1);}
}

.fade-enter {
    opacity: 0.01;
    
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: all 1500ms ease;
    transition-delay: 1000ms;
  }
  
  .fade-leave {
    opacity: 1;
    
  }
  
  .fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: all 1000ms ease;
    transition-delay: 500ms;
    
  }


/* keyframes to animate pictures */