@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

h3{
    font-family: 'Source Code Pro', monospace;
    color: rgb(70, 196, 255);
    text-shadow: 0 0 0 transparent, 0 0 10px #03d7fd, 0 0 20px rgba(94, 170, 247, 0.5), 0 0 40px #26ccff, 0 0 50px #3ebdf8, 0 0 60px #f5f4f4, 0 0 70px #f5f4f4, 0 0 80px #f5f4f4, 0 0 100px #fcf9f9, 0 0 200px #eeeced, 0 0 300px #faf9f9, 0 0 500px #f8f6f6, 0 0 1000px #fcfafb; 
}

.main-h1{
  font-family: 'Source Code Pro', monospace;
  color: rgb(70, 196, 255);
  text-shadow: 0 0 0 transparent, 0 0 10px #03d7fd, 0 0 20px rgba(94, 170, 247, 0.5), 0 0 40px #26ccff, 0 0 50px #3ebdf8, 0 0 60px #f5f4f4, 0 0 70px #f5f4f4, 0 0 80px #f5f4f4, 0 0 100px #fcf9f9, 0 0 200px #eeeced, 0 0 300px #faf9f9, 0 0 500px #f8f6f6, 0 0 1000px #fcfafb;
  /* animation: blink 3s infinite; */
}

.next-page{
  font-family: 'Source Code Pro', monospace;
  color: rgb(167, 176, 180);
  background: none;
  border: none;
  font-size: x-large;
}

.next-page:hover{
  animation: blink 1.5s infinite;
  color: rgb(70, 196, 255);
  text-shadow: 0 0 0 transparent, 0 0 10px #03d7fd, 0 0 20px rgba(94, 170, 247, 0.5), 0 0 40px #26ccff, 0 0 50px #3ebdf8, 0 0 60px #52adf8, 0 0 70px #589afd, 0 0 80px #4bc2fa, 0 0 100px #69b4f1, 0 0 200px #52d0f7, 0 0 300px #79c2f3, 0 0 500px #74d2fd, 0 0 1000px #85d8f8;
}

.option1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: black;
  position:absolute;
  height:100vh;
  width: 100vw;
}

.box1{
  /* background-color: rgb(58, 6, 54); */
  background-image: linear-gradient(to left, black,  rgb(4, 58, 80));
  flex-direction: column;
}

.box3{
    background-image: linear-gradient(to right, black, rgb(4, 58, 80));
  flex-direction: column;
}

.box1, .box2, .box3{
  display: flex;
 flex: 1 1 300px;
 margin: 5px;
 justify-content: center;
}

.box2{
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}



@keyframes blink {
  
  0% {
    opacity: 1;
  }
  2% {
    opacity: 0.8;
  }
  3% {
    opacity: 1;
  }
  5% {
    opacity: 0.2;
  }
  6% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}

